<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b10725.schedule">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="일정 관리"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".EditActivity"
            android:label="일정 추가"/>
        <activity android:name=".DetailActivity"
            android:label="일정 상세보기"/>

        <receiver android:name=".Receiver"></receiver>
    </application>

</manifest>